.div_menu{
  background-color: black;
}
.menu{
  color: white;
  text-decoration: underline;
  text-transform: uppercase;
  font-size: 15px;
}
.slider{
  position: relative;
  top: 10px;
  left: 30px;
}

.text{
  text-align: justify;
}
.footer-alamat,.footer{
  text-align: center;
  background-color: black;
  color: white;
}
